<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzf5TTV2ghwNJnDbaSzfDxr2hmHxHzlHg</string>
	<key>GCM_SENDER_ID</key>
	<string>208225285656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.otpGenerator</string>
	<key>PROJECT_ID</key>
	<string>otp-generator-169e5</string>
	<key>STORAGE_BUCKET</key>
	<string>otp-generator-169e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208225285656:ios:ee118622cc4aa0704b356d</string>
</dict>
</plist>